.modal-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    transition: 2s all;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    width: 100%;
    padding: 0.5rem;
    color: #24357D;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
}

.close-button {
    color: red;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 2rem;
}

.modal-body {
    padding: 1rem 0;
}

.modal-footer {
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
    border-top: 1px solid #e5e5e5;
}