
.pagination {
    display: flex;
    margin: 0;
    justify-content: center;
}

.page-item {
    list-style: none;
    margin: 0 0.25rem;
}

.page-link {
    cursor: pointer;
    color: #007bff;
    padding: 0.5rem 0.75rem;
    border: 1px solid #007bff;
}

.page-link:hover {
    color: white;
    background-color: #007bff;
}

.active .page-link {
    color: white;
    border-color: #007bff;
    background-color: #007bff;
}

.disabled .page-link {
    color: #6c757d;
    cursor: not-allowed;
}
