body {
  font-family: "Jura", sans-serif;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.897);
}

.navbar .container .navbar-brand img {
  width: 75%;
}

.navbar .container .collapse .navbar-nav .nav-item {
  padding: 0.3rem;
  margin: 0.5rem;
}

.navbar .container .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #499be3;
  transition: 1s linear;
}

.navbar-nav .dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  padding: 0.5rem;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.navbar-nav .dropdown .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  text-transform: uppercase;
  color: rgba(153, 148, 148, 0.9);
}

.navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #499be3;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0.5rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.navbar .container .collapse .span-cart {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .container .collapse i {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
  .navbar .container .navbar-brand img {
    width: 50%;
  }

  .navbar .container .collapse .navbar-nav .nav-item {
    padding: 0rem;
    margin: 0;
  }

  .navbar-nav .dropdown .dropdown-menu {
    opacity: 1;
    visibility: visible;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
/* 
*
*For tablets
*
 */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar .container .navbar-brand img {
    width: 100%;
  }

  .navbar .container .collapse .navbar-nav .nav-item {
    padding: 0;
    margin: 0;
  }

  .navbar-nav .dropdown .dropdown-menu {
    opacity: 1;
    visibility: visible;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
