.navbar-vertical {
  width: 15rem; 
  z-index: 999;
  padding: 0.5rem;
  background-color: #004aad;
  transition: transform 0.3s ease, width 0.3s ease;
}

.nav-sub {
  text-indent: 2rem;
}

.navbar-vertical .nav .nav-title {
  font-size: 1rem;
  font-weight: 500;
}

.navbar-vertical .nav .nav-item .d-flex {
  align-items: center;
}

.navbar-vertical .nav .nav-item .nav-link {
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}

.navbar-vertical .nav .nav-item .active {
  color: #00fff7;
  background-color: #004aad;
  border-right: 4px solid #00fff7;
}

.navbar-vertical .nav .nav-item hr {
  width: 100%;
  padding: 2px;
  color: white;
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
  .navbar-vertical {
    top: 0;
    width: 100%;
    position: fixed;
    min-height: 100%;
    transform: translateX(-100%);
  }

  .navbar-vertical.collapsed {
    transform: translateX(0);
  }

  .nav-sub {
    text-indent: 1rem;
  }

  .navbar-vertical .nav .nav-item .nav-link {
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .navbar-vertical .nav .nav-item hr {
    width: 100%;
    padding: 1px;
    color: white;
  }
}

/* 
*
*For tablets
*
 */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-vertical {
    width: 15rem;
    position: relative;
    transform: translateX(-100%);
  }

  .navbar-vertical.collapsed {
    transform: translateX(0);
  }

  .nav-sub {
    text-indent: 1.5rem;
  }

  .navbar-vertical .nav .nav-item .nav-link {
    color: white;
    padding: 0.7rem;
    font-size: 1rem;
  }
}
